<%- include("./partials/header") %>
<div class="container">
    <form action="/Event" method="POST">
        <div class="form-group">
            <label for="eventname">Event Name</label>
            <input type="text" class="form-control" name="Name">
            <label for="eventdate">Event Date</label>
            <input type="date" name="Eventdate">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
<%- include("./partials/footer") %>