<%- include("./partials/header") %>
  
<div class="container">
  <div class="jumbotron">
    <h3 class="display-5">Welcome to online charity management System!!</h3>
    <p class="lead">This application helps to identify a donar Esaily check satus of  our charity details</p>
    <hr class="my-4">
    <p>It works successfully this part only for organization peoples only like admin, ngo etc...</p>
    <p class="lead">
      <a href="/website" class="btn btn-success">website</a>
      <a href="/login" class="btn btn-primary">Login</a>
      <a href="/register" class="btn btn-danger">Register</a>
    </p>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm">
      <div class="card c1" style="width: 18rem;">
        <img src="https://img.icons8.com/bubbles/1020/000000/admin-settings-male.png" class="card-img-top" alt="/login">
        <div class="card-body">
          <h5 class="card-title">ADMIN</h5>
          <p class="card-text">Admin can Access the All Terms and Sites</p>
          <a href="/login" class="btn btn-primary">Go to Admin</a>
        </div>
      </div>

    </div>
    <div class="col-sm">
      <div class="card c1" style="width: 18rem;">
        <img src="https://img.icons8.com/bubbles/1020/000000/conference-call.png" class="card-img-top" alt="/login">
        <div class="card-body">
          <h5 class="card-title">NGO</h5>
          <p class="card-text">NGO is the NON goverment Organization </p>
          <a href="/login" class="btn btn-primary">Go to NGO</a>
        </div>
      </div>

    </div>
      <script>
          $(document).ready(function(){
            $("p").click(function(){
              $(this).hide();
            });
          });
      </script>

      <p>hello</p>
  </div>
</div>

<%- include("./partials/footer") %>